//default settings
@font-face {
  font-family: 'STARWARS';
  src: url('../fonts/STARWARS.eot?') format('eot'), url('../fonts/STARWARS.woff') format('woff'),
    url('../fonts/STARWARS.ttf') format('truetype'), url('../fonts/STARWARS.svg#STARWARS') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/3947.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'STARWARS';
  letter-spacing: 2px;
  transform: perspective(300px) rotateX(25deg);
}

a {
  text-decoration: none;
}

body {
  min-width: 100%;
  height: 100%;
  background: #000000 center center / cover no-repeat;
  background-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  color: #ffff66;
}

ul,
li {
  list-style: none;
}

//loader

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #ffff66;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffff66 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//header

header {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__title {
  font-size: 52px;
}

#sort__select,
#select_search_settings {
  padding: 30px;
  font-size: 14px;
  background: #000;
  font-family: 'STARWARS';
}

#search__input,
#search__input_api {
  padding: 10px;
  border: 1px solid #ffff66;
  background: #000;
  color: #ffff66;
  font-family: 'STARWARS';
  font-size: 12px;
}

.search__button,
.search__button_api {
  background: #ffff66;
  padding: 7px;
  border-radius: 50%;
}

.films {
  text-align: center;
  display: flex;
  justify-content: center;

  .films__list {
    width: 90%;
  }

  .films__list > li {
    transition: 0.3s;
    padding: 15px 0;
    font-family: 'STARWARS';
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    animation: show 0.5s forwards ease-in-out;
  }

  .films__list li h3 {
    font-size: 24px;
    margin: 10px;
  }
}

button,
.update {
  border: none;
  padding: 10px;
  font-family: 'STARWARS';
  font-size: 16px;
  color: #000;
  background: #ffff66;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-top: 10px;
}

.films__list li button:hover {
  background: transparent;
  color: #ffff66;
}

.films__main-title {
  margin-bottom: 20px;
}

#btn-close {
  animation: show 0.5s forwards ease-in-out;
}

.sort {
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: none;
  z-index: 10;
  text-align: center;
  padding-top: 20px;

  li {
    margin-top: 10px;
    font-family: 'STARWARS';
    font-size: 18px;
  }
}

.list-items {
  margin-top: 10px;
  cursor: pointer;
  transition: 0.4s ease;
  animation: show 0.5s forwards ease-in-out;
}

.modal li {
  text-align: center;
  animation: show 0.5s forwards ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pagination {
  display: flex;
  margin: 0 20px;
  padding: 0;

  li {
    padding: 3px;
    border: solid #ffffff 1px;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      background: #ffff66;
      color: #000000;
    }
  }

  li.active {
    background: #ffff66;
    color: #000000;
  }
}

@media (max-width: 940px) {
  .films__list li {
    flex-direction: column;
  }
}
