@font-face {
  font-family: 'STARWARS';
  src: url('../fonts/STARWARS.eot?') format('eot'), url('../fonts/STARWARS.woff') format('woff'),
    url('../fonts/STARWARS.ttf') format('truetype'), url('../fonts/STARWARS.svg#STARWARS') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/3947.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'STARWARS';
  letter-spacing: 2px;
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg);
}

a {
  text-decoration: none;
}

body {
  min-width: 100%;
  height: 100%;
  background: #000000 center center / cover no-repeat;
  background-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  color: #ffff66;
}

ul,
li {
  list-style: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #ffff66;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffff66 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

header {
  text-align: center;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__title {
  font-size: 52px;
}

#sort__select,
#select_search_settings {
  padding: 30px;
  font-size: 14px;
  background: #000;
  font-family: 'STARWARS';
}

#search__input,
#search__input_api {
  padding: 10px;
  border: 1px solid #ffff66;
  background: #000;
  color: #ffff66;
  font-family: 'STARWARS';
  font-size: 12px;
}

.search__button,
.search__button_api {
  background: #ffff66;
  padding: 7px;
  border-radius: 50%;
}

.films {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.films .films__list {
  width: 90%;
}
.films .films__list > li {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 15px 0;
  font-family: 'STARWARS';
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-animation: show 0.5s forwards ease-in-out;
  animation: show 0.5s forwards ease-in-out;
}
.films .films__list li h3 {
  font-size: 24px;
  margin: 10px;
}

button,
.update {
  border: none;
  padding: 10px;
  font-family: 'STARWARS';
  font-size: 16px;
  color: #000;
  background: #ffff66;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 10px;
}

.films__list li button:hover {
  background: transparent;
  color: #ffff66;
}

.films__main-title {
  margin-bottom: 20px;
}

#btn-close {
  -webkit-animation: show 0.5s forwards ease-in-out;
  animation: show 0.5s forwards ease-in-out;
}

.sort {
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: none;
  z-index: 10;
  text-align: center;
  padding-top: 20px;
}
.modal li {
  margin-top: 10px;
  font-family: 'STARWARS';
  font-size: 18px;
}

.list-items {
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-animation: show 0.5s forwards ease-in-out;
  animation: show 0.5s forwards ease-in-out;
}

.modal li {
  text-align: center;
  -webkit-animation: show 0.5s forwards ease-in-out;
  animation: show 0.5s forwards ease-in-out;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#characters-pagination1,
#characters-pagination2,
#characters-pagination3,
#characters-pagination4,
#characters-pagination5,
#characters-pagination6,
#characters-pagination7,
#planets-pagination1,
#planets-pagination2,
#planets-pagination3,
#planets-pagination4,
#planets-pagination5,
#planets-pagination6,
#planets-pagination7,
#ships-pagination1,
#ships-pagination2,
#ships-pagination3,
#ships-pagination4,
#ships-pagination5,
#ships-pagination6,
#ships-pagination7,
#vehicles-pagination1,
#vehicles-pagination2,
#vehicles-pagination3,
#vehicles-pagination4,
#vehicles-pagination5,
#vehicles-pagination6,
#vehicles-pagination7,
#species-pagination1,
#species-pagination2,
#species-pagination3,
#species-pagination4,
#species-pagination5,
#species-pagination6,
#species-pagination7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  padding: 0;
}
#characters-pagination1 li,
#characters-pagination2 li,
#characters-pagination3 li,
#characters-pagination4 li,
#characters-pagination5 li,
#characters-pagination6 li,
#characters-pagination7 li,
#planets-pagination1 li,
#planets-pagination2 li,
#planets-pagination3 li,
#planets-pagination4 li,
#planets-pagination5 li,
#planets-pagination6 li,
#planets-pagination7 li,
#ships-pagination1 li,
#ships-pagination2 li,
#ships-pagination3 li,
#ships-pagination4 li,
#ships-pagination5 li,
#ships-pagination6 li,
#ships-pagination7 li,
#vehicles-pagination1 li,
#vehicles-pagination2 li,
#vehicles-pagination3 li,
#vehicles-pagination4 li,
#vehicles-pagination5 li,
#vehicles-pagination6 li,
#vehicles-pagination7 li,
#species-pagination1 li,
#species-pagination2 li,
#species-pagination3 li,
#species-pagination4 li,
#species-pagination5 li,
#species-pagination6 li,
#species-pagination7 li {
  padding: 3px;
  border: solid #ffffff 1px;
  margin-right: 5px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
#characters-pagination1 li:hover,
#characters-pagination2 li:hover,
#characters-pagination3 li:hover,
#characters-pagination4 li:hover,
#characters-pagination5 li:hover,
#characters-pagination6 li:hover,
#characters-pagination7 li:hover,
#planets-pagination1 li:hover,
#planets-pagination2 li:hover,
#planets-pagination3 li:hover,
#planets-pagination4 li:hover,
#planets-pagination5 li:hover,
#planets-pagination6 li:hover,
#planets-pagination7 li:hover,
#ships-pagination1 li:hover,
#ships-pagination2 li:hover,
#ships-pagination3 li:hover,
#ships-pagination4 li:hover,
#ships-pagination5 li:hover,
#ships-pagination6 li:hover,
#ships-pagination7 li:hover,
#vehicles-pagination1 li:hover,
#vehicles-pagination2 li:hover,
#vehicles-pagination3 li:hover,
#vehicles-pagination4 li:hover,
#vehicles-pagination5 li:hover,
#vehicles-pagination6 li:hover,
#vehicles-pagination7 li:hover,
#species-pagination1 li:hover,
#species-pagination2 li:hover,
#species-pagination3 li:hover,
#species-pagination4 li:hover,
#species-pagination5 li:hover,
#species-pagination6 li:hover,
#species-pagination7 li:hover {
  background: #ffff66;
  color: #000000;
}
#characters-pagination1 li.active,
#characters-pagination2 li.active,
#characters-pagination3 li.active,
#characters-pagination4 li.active,
#characters-pagination5 li.active,
#characters-pagination6 li.active,
#characters-pagination7 li.active,
#planets-pagination1 li.active,
#planets-pagination2 li.active,
#planets-pagination3 li.active,
#planets-pagination4 li.active,
#planets-pagination5 li.active,
#planets-pagination6 li.active,
#planets-pagination7 li.active,
#ships-pagination1 li.active,
#ships-pagination2 li.active,
#ships-pagination3 li.active,
#ships-pagination4 li.active,
#ships-pagination5 li.active,
#ships-pagination6 li.active,
#ships-pagination7 li.active,
#vehicles-pagination1 li.active,
#vehicles-pagination2 li.active,
#vehicles-pagination3 li.active,
#vehicles-pagination4 li.active,
#vehicles-pagination5 li.active,
#vehicles-pagination6 li.active,
#vehicles-pagination7 li.active,
#species-pagination1 li.active,
#species-pagination2 li.active,
#species-pagination3 li.active,
#species-pagination4 li.active,
#species-pagination5 li.active,
#species-pagination6 li.active,
#species-pagination7 li.active {
  background: #ffff66;
  color: #000000;
}

@media (max-width: 940px) {
  .films__list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
