//default settings
@font-face {
  font-family: "STARWARS";
  src: url("fonts/STARWARS.eot?") format("eot"), url("fonts/STARWARS.woff") format("woff"), url("fonts/STARWARS.ttf") format("truetype"), url("fonts/STARWARS.svg#STARWARS") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Droid Sans";
  src: url("fonts/3947.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


h1,h2,h3,h4,h5,h6 {
  font-family: "STARWARS";
  letter-spacing: 2px;
  transform: perspective(300px) rotateX(25deg);
}

a {
  text-decoration: none;
}

body {
  min-width: 100%;
  height: 100%;
  background: #000000 center center / cover no-repeat;
  background-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  color: #ffff66;

}

ul,li {
  list-style: none;
}


//loader

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #ffff66;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffff66 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//header

header {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__title {
  font-size: 52px;
}

#sort__select {
  padding: 30px;
  font-size: 14px;
  background: #000;
  font-family: "STARWARS";

}

#search__input {
  padding: 10px;
  border: 1px solid #ffff66;
  background: #000;
  color: #ffff66;
  font-family: "STARWARS";
  font-size: 12px;
}

.search__label {
  background: #ffff66;
  padding: 7px;
  border-radius: 50%;
}

// films

.films {
  text-align: center;
  display: flex;
  justify-content: center;

  .films__list {
    transition: .5s ease-in-out;
  }

  .films__list > li {
    transition: .3s;
    padding: 15px 0;
    //transform: perspective(300px) rotateX(23deg);
    font-family: "STARWARS";
    font-size: 14px;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
  }

  .films__list li h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .films__list li:hover {
    //transform: scale(1);
  }
}

button,.update {
  border: none;
  padding: 10px;
  font-family: "STARWARS";
  font-size: 16px;
  color: #000;
  background: #ffff66;
  cursor: pointer;
  transition: all .4s ease;
  margin-top: 10px;

}

.films__list li button:hover {
  background: transparent;
  color: #ffff66;
}

.films__main-title {
  margin-bottom: 20px ;
}

// info


.info1,
.info2,
.info3,
.info4,
.info5,
.info6,
.info7{
  height: 300px;
  overflow-y: scroll;
  margin-left: 30px;
}

.planets-film1,
.planets-film2,
.planets-film3,
.planets-film4,
.planets-film5,
.planets-film6,
.planets-film7 {
  margin-left: 30px;
}



//characters

.characters {
  display: flex;
  justify-content: center;
}

.sort {
  margin-bottom: 20px;
}

