@font-face {
  font-family: "STARWARS";
  src: url("fonts/STARWARS.eot?") format("eot"), url("fonts/STARWARS.woff") format("woff"), url("fonts/STARWARS.ttf") format("truetype"), url("fonts/STARWARS.svg#STARWARS") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Droid Sans";
  src: url("fonts/3947.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "STARWARS";
  letter-spacing: 2px;
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg); }

a {
  text-decoration: none; }

body {
  min-width: 100%;
  height: 100%;
  background: #000000 center center / cover no-repeat;
  background-size: 100%; }

* {
  padding: 0;
  margin: 0;
  color: #ffff66; }

ul, li {
  list-style: none; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ring div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #ffff66;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffff66 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s; }

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

header {
  text-align: center;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__title {
  font-size: 52px; }

#sort__select {
  padding: 30px;
  font-size: 14px;
  background: #000;
  font-family: "STARWARS"; }

#search__input {
  padding: 10px;
  border: 1px solid #ffff66;
  background: #000;
  color: #ffff66;
  font-family: "STARWARS";
  font-size: 12px; }

.search__button {
  background: #ffff66;
  padding: 7px;
  border-radius: 50%; }

.films {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .films .films__list {
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
  .films .films__list > li {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 15px 0;
    font-family: "STARWARS";
    font-size: 14px;
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .films .films__list li h3 {
    font-size: 24px;
    margin-bottom: 10px; }

button, .update {
  border: none;
  padding: 10px;
  font-family: "STARWARS";
  font-size: 16px;
  color: #000;
  background: #ffff66;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  margin-top: 10px; }

.films__list li button:hover {
  background: transparent;
  color: #ffff66; }

.films__main-title {
  margin-bottom: 20px; }

.info1,
.info2,
.info3,
.info4,
.info5,
.info6,
.info7 {
  height: 300px;
  overflow-y: scroll;
  margin-left: 30px; }

.planets-film1,
.planets-film2,
.planets-film3,
.planets-film4,
.planets-film5,
.planets-film6,
.planets-film7 {
  margin: 0 30px 30px; }

.pagination-ships1,
.pagination-ships2,
.pagination-ships3,
.pagination-ships4,
.pagination-ships5,
.pagination-ships6,
.pagination-ships7,
.pagination-planets1,
.pagination-planets2,
.pagination-planets3,
.pagination-planets4,
.pagination-planets5,
.pagination-planets6,
.pagination-planets7,
.pagination-characters1,
.pagination-characters2,
.pagination-characters3,
.pagination-characters4,
.pagination-characters5,
.pagination-characters6,
.pagination-characters7 {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .pagination-ships1 #btn_next,
  .pagination-ships2 #btn_next,
  .pagination-ships3 #btn_next,
  .pagination-ships4 #btn_next,
  .pagination-ships5 #btn_next,
  .pagination-ships6 #btn_next,
  .pagination-ships7 #btn_next,
  .pagination-planets1 #btn_next,
  .pagination-planets2 #btn_next,
  .pagination-planets3 #btn_next,
  .pagination-planets4 #btn_next,
  .pagination-planets5 #btn_next,
  .pagination-planets6 #btn_next,
  .pagination-planets7 #btn_next,
  .pagination-characters1 #btn_next,
  .pagination-characters2 #btn_next,
  .pagination-characters3 #btn_next,
  .pagination-characters4 #btn_next,
  .pagination-characters5 #btn_next,
  .pagination-characters6 #btn_next,
  .pagination-characters7 #btn_next {
    margin: 0 10px 0 10px; }
  .pagination-ships1 #btn_next, .pagination-ships1 #btn_prev,
  .pagination-ships2 #btn_next,
  .pagination-ships2 #btn_prev,
  .pagination-ships3 #btn_next,
  .pagination-ships3 #btn_prev,
  .pagination-ships4 #btn_next,
  .pagination-ships4 #btn_prev,
  .pagination-ships5 #btn_next,
  .pagination-ships5 #btn_prev,
  .pagination-ships6 #btn_next,
  .pagination-ships6 #btn_prev,
  .pagination-ships7 #btn_next,
  .pagination-ships7 #btn_prev,
  .pagination-planets1 #btn_next,
  .pagination-planets1 #btn_prev,
  .pagination-planets2 #btn_next,
  .pagination-planets2 #btn_prev,
  .pagination-planets3 #btn_next,
  .pagination-planets3 #btn_prev,
  .pagination-planets4 #btn_next,
  .pagination-planets4 #btn_prev,
  .pagination-planets5 #btn_next,
  .pagination-planets5 #btn_prev,
  .pagination-planets6 #btn_next,
  .pagination-planets6 #btn_prev,
  .pagination-planets7 #btn_next,
  .pagination-planets7 #btn_prev,
  .pagination-characters1 #btn_next,
  .pagination-characters1 #btn_prev,
  .pagination-characters2 #btn_next,
  .pagination-characters2 #btn_prev,
  .pagination-characters3 #btn_next,
  .pagination-characters3 #btn_prev,
  .pagination-characters4 #btn_next,
  .pagination-characters4 #btn_prev,
  .pagination-characters5 #btn_next,
  .pagination-characters5 #btn_prev,
  .pagination-characters6 #btn_next,
  .pagination-characters6 #btn_prev,
  .pagination-characters7 #btn_next,
  .pagination-characters7 #btn_prev {
    cursor: pointer; }

.characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sort {
  margin-bottom: 20px; }

#btn_prev, #btn_next {
  background: #ffff66;
  font-family: "STARWARS";
  color: #000000;
  font-size: 16px;
  padding: 5px; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  display: none;
  z-index: 10;
  text-align: center;
  padding-top: 20px; }
  .modal li {
    margin-top: 10px;
    font-family: "STARWARS";
    font-size: 18px; }

.list-items {
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease; }
  .list-items:hover {
    opacity: .7; }
